<div class="contact-modal">
    <form>
      <div class="close">
          <button class="close-btn">
            <i class="fa fa-xmark"></i>
          </button>
      </div>
      <label>Your Name</label>
      <input type="text" placeholder="Enter name" />
      <label>Your Email</label>
      <input type="email" placeholder="Enter email" />
      <label>Your Message</label>
      <textarea placeholder="Enter message" class="msgBox"></textarea>
      <button type="submit" class="send-btn">Send</button>
    </form>
</div>
