.title {
  text-align: center;


  span {
    font-family: 'copperplate', fantasy;
    font-size: xx-large;
    font-weight: bold;
    color: #dfdfdf;
  }
}

.course-item {
  flex: 1 1 300px; 
  max-width: 350px;
}

.body-courses {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 600px;
  gap: 4rem; 
  overflow-y: hidden;
  overflow-x: scroll;
}

@media(max-width: 500px) {
  .body-courses {
    gap: 4.2rem;
  }
}

@media(max-width: 375px) {
  .body-courses {
    gap: 2.4rem;
  }
}