.title {
  text-align: center;


  span {
    font-family: 'copperplate', fantasy;
    font-size: xx-large;
    font-weight: bold;
    color: #333;
  }
}

.course-item {
  flex: 1 1 300px; /* each card takes up space but can shrink */
  max-width: 350px;
}

.body-courses {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem; 
  padding: 0 1rem;
  overflow-y: hidden;
  overflow-x: scroll;
}