<div class="body">
    <div class="title">
        <span> Relevant Courses </span>
    </div>

    <div class="body-courses">
        <div class="left-arrow">
            <img src="https://www.svgrepo.com/show/247762/left-arrow-previous.svg" width="35%"/>
        </div>
        <div class="course-item" *ngFor="let course of courses; let i = index">
            <app-course-card [courseDetails]="course"></app-course-card>
        </div>
        <div class="right-arrow" >
            <img src="https://www.svgrepo.com/show/247762/left-arrow-previous.svg" width="35%" />
        </div>
    </div>
</div>
