.card-container {
    perspective: 1000px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;


    & .card {
      position: relative;
      width: 600px; /* Example width */
      height: 400px; /* Example height */
      transform-style: preserve-3d;
      transition: transform 0.6s; /* For flip animation */
      box-shadow: 0 0 10px rgba(152, 149, 149, 0.7);
      border-radius: 20px;
      
        & .card-front{ 
            position: absolute;
            inset: 0;
            backface-visibility: hidden;
            height: 100%;
            display: grid;

            & .header {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 2rem;
                position: relative;

                & span {
                    font-family:Georgia, 'Times New Roman', Times, serif;
                    font-size: xx-large;
                }
            }

            & .desc {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: large;
                margin: 1rem;
                text-align: center;

                & span {
                    font-weight: 100;
                }
            }

            & .date {
                flex-shrink: 0;
                margin-top: auto; /* Pushes it to the bottom of the column */
                display: flex;
                justify-content: flex-end;
                align-items: end;
                margin-right: 2rem;

                & span {
                    margin: 0;
                    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
                    font-size: 0.9rem;
                    color: #666;
                    font-style: italic;
                }

            }
        }

        & .card-back {
            transform: rotateY(180deg);
            position: absolute;
            inset: 0;
            backface-visibility: hidden;
        }
    }
}

