<div class="body-time">
<div class="desc"><span>Experience Timeline</span></div>
  <p-timeline
    [value]="events"
    align="alternate"
    styleClass="customized-timeline"
  >
    <!-- Timeline marker -->
    <ng-template pTemplate="marker" let-event>
      <span
        class="p-timeline-event-marker custom-marker"
        [ngStyle]="{ 'background-color': '#34D399'}">
      </span>
    </ng-template>

    <!-- Timeline content -->
    <ng-template pTemplate="content" let-event>
      <p-card
        [header]="event.status"
        [subheader]="event.startDate + ' to ' + event.endDate"
        [style]="{'background-color': event.color}"
        class="shadow-md"
      >
        <div class="space-y-4">
          <img
            *ngIf="event.image"
            [src]="event.image"
            [alt]="event.name"
            class="w-40 h-auto shadow-md rounded-md"
          />
          <div
            class="text-sm leading-relaxed text-gray-800 dark:text-gray-200"
            [innerHTML]="event.description"
          ></div>
        </div>
      </p-card>
    </ng-template>
  </p-timeline>
</div>

