.timeline-container {
  // background-color: #393E46;
  padding: 40px 20px;
  font-family: 'Poppins', sans-serif;
}

.desc {
 text-align: left;
  margin-left: 70px;
  margin-bottom: 27px;
  margin-top: 27px;

  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #ccd6f6;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 30%;
    height: 2px;
    margin-left: 30px;
    background-color: #becce2;
    border-radius: 10px;
  }
}

.timeline {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

.timeline-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 0.5px;
  background-color: #94a3b8;
  transform: translateX(-50%);
  z-index: 0;
}

.timeline-item {
  position: relative;
  width: 50%;
  padding: 20px 40px;
  box-sizing: border-box;
}

.timeline-item.left {
  left: 0;
  padding-right: 70px;

}

.timeline-item.right {
  left: 50%;
  padding-left: 70px;
}

.timeline-dot {
  position: absolute;
  top: 30px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 1;
  backdrop-filter: blur(2.5px); // blurs the area behind (line gets softened/invisible)
  -webkit-backdrop-filter: blur(2.5px); 

  & img {
    object-fit: contain
  }
}

.timeline-date {
  position: absolute;
  top: 30px;
  width: 50%;
  z-index: 1;

  & span {
    color: #9c9ea7;
  }
}

.timeline-item.left .timeline-dot {
  right: -15px;
}

.timeline-item.right .timeline-dot {
  left: -15px;
}

.timeline-item.left .timeline-date {
  right: -280px;
  top: 33px;
}

.timeline-item.right .timeline-date {
  left: -100px;
  top: 33px;
}

.timeline-content {
  padding: 20px;
  background-color: none;
  backdrop-filter: blur(50px);
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.578);
  
}

.timeline-header h3 {
  margin: 0 0 5px 0;
  font-size: 1.2rem;
  font-weight: bold;
  color:#9c9ea7;
}

.timeline-body {
  margin-top: 15px;
  display: flex;
  align-items: flex-start;
  gap: 15px;

  & span {
    font-weight: 30;
    color: #9c9ea7 !important;
  }
}

@media screen and (max-width: 800px) {
  .timeline-line {
    left: 20px;
  }
  .timeline-item {
    width: 100%;
    padding-left: 70px;
    padding-right: 20px;
  }
  .timeline-item.left,
  .timeline-item.right {
    left: 0;
    padding-left: 70px;
    padding-right: 20px;
  }
  .timeline-item.left .timeline-dot,
  .timeline-item.right .timeline-dot {
    left: 5px;
  }

  .timeline-item.left .timeline-date,
  .timeline-item.right .timeline-date {
    left: 30px;
    top: -5px;
  }

  .timeline-body {
    display: inline-block
  }

  .timeline-image {
    margin-bottom: 1rem
  }

} 

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes sonar {
  0% {
    opacity: 0.6;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(4);
    border-width: 0px;
  }
}

@media (max-width: 548px) {
  .desc {
    text-align: center;
    margin-left: 0px;

    &::after {
      display: none;
    }
  }
  
}