<div class="timeline-container">
  <h2 class="desc">Experience Timeline</h2>
  <div class="timeline">
    <div class="timeline-line"></div>
    <div class="timeline-item" *ngFor="let event of events; let i = index" 
         [class.left]="i % 2 === 0" [class.right]="i % 2 !== 0">  <!-- Alternates the timeline components-->
      <div class="timeline-date"><span>{{event.date}}</span></div>
      <div class="timeline-dot">
        <img [src]="event.dotImg"/>
      </div>
      <div class="timeline-content">
        <div class="timeline-header">
          <h3>{{ event.status }}</h3>
        </div>
        <div class="timeline-body">
          <span>{{ event.description }}</span>
        </div>
      </div>
    </div>
  </div>
</div> 