.body-proj {
    background-color: #EAE4D5;
    max-height: 85vh;

    display: flex;
    flex-direction: column;

    align-items: center;

    overflow-y: auto;
    overflow-x: hidden; 

    & .project-item {
        margin-bottom: 10rem;
        margin-top: 10rem;

    }
}

hr {
    border: 0;
    height: 0.5px;
    background: #888585;
}

.title {
  text-align: center;
  background-color: #EAE4D5;


  span {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    font-weight: bold;
    color: #333;
  }
}