<div class="title">
    <h2 class="label">
        Projects
    </h2>
    <div class="info-icon">
        <i class="fa-solid fa-circle-info"
           matTooltip="Double-click on cards to flip!"
           matTooltipPosition="below"
           matTooltipShowDelay="300"
           style="color: #ccd6f6;"
           #tooltip="matTooltip"
           (click)="onClick()"></i>
    </div>
</div>
<div class="body-proj">
    <div class="project-item" *ngFor="let project of projects; let i = index">
        <app-project-card [projDetails]="project"></app-project-card>
    </div>
</div>

