.body-proj {
    background:#333437;
    min-height: 100vh;
    border-top: 2px solid rgba(0, 0, 0, 0.05);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem 2rem;
    padding-top: 30px;
    padding-bottom: 10px;


    & .project-item {
        transition: all 0.6s ease;

        &:hover {
            transform: translateY(-10px);
        }
    }
}

.label {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    flex: 1;
}

.info-icon {
    position: absolute;
    right: 1rem; 
    font-size: 1.2rem;
    color: #333; 

    &:hover {
        cursor:  pointer;
    }
}

.title {
  text-align: center;
  background-color: #333437;
  display: flex;
  justify-content: center; 
  align-items: center;
  position: relative;


  span {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    font-weight: bold;
    color: #d5c9c9;
  }
}