<nav class="NavigationBar" [class.hide-nav]="navHidden" [class.expose-nav]="!navHidden">
  <div class="nav-content">
    <div class="reflinks">
      <a *ngFor="let section of sections" [href]="'#' + section.id" class="ref" [class.active]="activeSection() === section.id">
        {{ section.label }}
      </a>
    </div>

    <div class="iconlinks">
      <a *ngFor="let section of sections" [href]="'#' + section.id" class="ico" [class.active]="activeSection() === section.id" [attr.aria-label]="section.label">
        <i [class]="section.icon"></i>
      </a>
    </div>
  </div>
</nav>
