.NavigationBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  position: fixed;
  bottom: 0;
  z-index: 999;
  font-family: 'Segoe UI', sans-serif;
  backdrop-filter: blur(10px);
  box-shadow: 0px 1px 20px rgba(0,0,0,.5);
  width: 480px;
  height: 50px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  border-radius: 50px;
  margin-bottom: 20px;

  &.hide-nav {
    transform: translateY(100%);
    opacity: 0;
  }

  &.expose-nav {
    transform: translateY(0);
    opacity: 1;
  }


  .nav-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    justify-content: center;
  }

  #Author {
    font-weight: bold;
    font-size: 2rem;
    color: #ffffff;
    text-decoration: none;

    &:hover {
      cursor:default;
    }
  }

  .reflinks {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    &.show {
      display: flex !important; // makes it visible on larger screens
      flex-direction: column;
      width: 100%;
    }

    .ref {
      color: #3c3b3b;
      z-index: 2;
      text-decoration: none;
      font-family: sans-serif;
      font-size: 18px;
      font-weight: 600;
      position: relative;
      transition: transform 0.2s ease, color 0.3s ease;
      text-align: center;
      width: 90px;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-top: 2px solid #3c3b3b;
        border-bottom: 2px solid #3c3b3b;
        transform: scaleY(2);
        opacity: 0;
        transition: .3s;
        pointer-events: none;
      }

      &::after {
        content: '';
        position: absolute;
        top: 2px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #3c3b3b;
        transform: scale(0);
        opacity: 0;
        transition: .3s;
        z-index: -1;
        pointer-events: none;
      }

      &:hover {
        color: #ffffff;

        &::after, &::before{
          transform: scaleY(1);
          opacity: 1;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .NavigationBar {
    width: 200px
  }
}