<div class="container">

    <div class="card">

        <div class="top">

            <div class="header">
                <div class="title">

                    <span> {{ courseDetails.title }} </span>

                </div>

                <div class="code">

                    <span> {{ courseDetails.code }} </span>

                </div>
            </div>

            <div class="body-top">
                <div>
                    <span> What I Learnt: </span>
                </div>

                <div class="desc">
                    <span> {{ courseDetails.description }} </span>
                </div>
            </div>

        </div>

        <div class="bottom">

            <div class="skills-body">
                <div>
                    <span> Skills Used: </span>
                </div>

                <div class="skill">
                    <span> {{ courseDetails.skills }} </span>
                </div>
            </div>

            <div class="grade">
                <span> Grade: </span>
                <span> {{ courseDetails.grade }} </span>
            </div>

            <div class="date">

                <span> {{ courseDetails.date }} </span>

            </div>

        </div>

    </div>

</div>

