<app-nav></app-nav>

<div id="home">
  <app-home></app-home>
</div>

<div id="timeline">
  <app-timeline></app-timeline>
</div>

<!-- <div id="projects">
  <app-projects></app-projects>
</div>

<div id="skills">
  <app-projects></app-projects>
</div> -->

<div class="inlineHr-wrapper">
  <hr class="inlineHr" id="LeftEnd">
  <div class="gap-space"></div>
  <hr class="inlineHr" id="RightEnd">
</div>

<div class="footer-wrapper">
  <span class="left-foot">© 2025 Abdelrahman ElShafay</span>
  <span class="right-foot">Build with Angular 19</span>
</div>
