<div id="vanta-bg" class="vanta-container"></div>
<div class="main-content">
  <div id="home">
    <app-home></app-home>
  </div>

  <div id="timeline">
    <app-timeline></app-timeline>
  </div>

  <div id="projects">
    <app-projects></app-projects>
  </div>

  <div id="about">
    <app-about></app-about>
  </div>

  <div id="Contact-Form" class="btn">
      <a href="#Contact-Form" class="contactBtn" (mouseenter)="isHovered = true" (mouseleave)="isHovered = false" (click)="openContact = true">
          <i class="fa fa-envelope" [style]="isHovered ? 'color: black;' : 'color: white;'"></i>
          <span style="color: aliceblue">• Contact Me</span>
      </a>
  </div>

  <app-nav></app-nav>

  <div class="footer-wrapper">
    <span class="left-foot">© {{ Year }} Abdelrahman ElShafay</span>
    <span class="right-foot">(beta) Built with Angular19</span>
  </div>
</div>

<div class="overlay" *ngIf="openContact === true">
  <app-contact-form (close)="openContact = false"></app-contact-form>
</div>
