.inlineHr-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
  gap: 20px;  
  margin-top: 30px;
}

.inlineHr {
  height: 0;
  flex: 1;
  border: none;
  border-top: 1px solid black;
  margin: 0; 
}

.gap-space {
  width: 50px; 
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0px 20px 0px 20px;
    padding-bottom: 10px
}

.left-foot, .right-foot {
  font-family: 'Times New Roman', Times, serif;
  font-size: 0.9rem;
  margin-top: 1rem;
}

@media (max-width: 500px) {
  .left-foot {
    font-size: 0.7rem !important;
  } 
  .right-foot{
    font-size: 0.7rem !important;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;

  & a {
    text-decoration: none;
    display:absolute;
    display:block;
    width:210px;
    height:80px;
    background: #ebebeb;
    text-align:left;
    padding-left: 15px;
    transform: rotate(0deg) skew(0deg) translate(0,0);
    transition:.5s;
    box-shadow: -10px 13px 10px rgba(0,0,0,.5);

    & span {
      padding:0;
      margin:0;
      position:absolute;
      top: 30px;
      color: #262626;
      letter-spacing: 4px;
      transition: .5s;
    }

    & i {
      font-size: 25px;
      color: #262626;
      line-height:80px;
      transition: .5s;
      padding-right: 14px;
    }

    &:before {
      content: '';
      position: absolute;
      top:4px;
      left:-8px;
      height:100%;
      width:8px;
      background: #b1b1b1;
      transition: 0.5s;
      transform: rotate(0deg) skewY(-45deg);
      z-index: 2;
    }

    &:after {
      content: '';
      position: absolute;
      bottom:-8px;
      left:-4px;
      height:8px;
      width:100%;
      background: #b1b1b1;
      transition: 0.5s;
      transform: rotate(-180deg) skewX(-45deg);
      z-index: 2;
    }

    &:hover {
      transform: rotate(0deg) skew(0deg) translate(20px,-15px);
      box-shadow: -50px 50px 50px rgba(0,0,0,.5);
      cursor: pointer;
      background-color:#3c3b3b;

      & span {
          color:aliceblue;
      }
    }

    &:hover:after, &:hover:before {
      background-color: #131313 !important;
    }
  }
}

app-contact-form {
  width: 70%;
  margin: 0 auto;
  z-index: 2000;
  pointer-events: auto;
}

app-nav {
  z-index: 1000;
  pointer-events: auto;
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}