span.hover {      
    color: #1E3A5F ;    
    font-size: 1.5rem;      
    transition: font-size 0.3s ease, color 0.3s ease, text-shadow 0.3s ease;    
    cursor: pointer;    
    padding: 0 .02em;    
    
    &:hover {              
        font-size: 2.5rem;        
        font-synthesis: none;        
        text-rendering:optimizeLegibility;           
        text-transform: uppercase;        
        color: rgb(96, 244, 244);        
        text-shadow: 
            1px 1px 0 #2d305e,            
            2px 2px 0 #1d1c3d;    
        }
}
        
span.nohover {   
    color: whitesmoke;    
    pointer-events: none;    
    font-size: 1rem;    
    padding: 0 .06em;  
}

@media (max-width: 625px) {    
    span.hover {        
        font-size: 1rem;        
        
        &:hover {            
            font-size: 2rem;        
        }    
    }    
    
    span.nohover {        
        font-size: 1.2rem;    
    }
}

@media (max-width: 425px) {    
    span.hover {        
        font-size: 0.7rem;   
        transition: font-size 0.15s ease, color 0.15s ease, text-shadow 0.15s ease !important;      
        
        &:hover {            
            font-size: 1.3rem;        
        }    
    }    
    
    span.nohover {        
        font-size: 1rem;    
    }
}