span.hover {
    color: whitesmoke;
    font-size: 1.5rem;
    transition: font-size 0.3s ease, color 0.3s ease, text-shadow 0.3s ease;
    cursor: pointer;

    &:hover {
        font-size: 2rem;
        // transform: scale(1.5);   
        text-transform: uppercase;
        color: #be2f1c;
        text-shadow:
            1px 1px 0 #3c3c3c;
        
    }

}

span.nohover {
    color: whitesmoke;
    pointer-events: none;
}

@media (max-width: 625px) {
    span.hover {
        font-size: 1rem;
        &:hover {
            font-size: 2rem;
        }
    }

    span.nohover {
        font-size: 1.2rem;
    }
}

@media (max-width: 425px) {
    span.hover {
        font-size: 0.7rem;
        &:hover {
            font-size: 1.7rem;
        }
    }

    span.nohover {
        font-size: 1rem;
    }
}