span.hover {

    color: whitesmoke;
    font-size: 1.5rem;
    transition: font-size 0.6s ease, color 0.6s ease, text-shadow 0.6s ease;
    cursor: pointer;

    &:hover {
        font-size: 2rem;
        font-synthesis: none;
        text-rendering:optimizeLegibility;
        // transform: scale(1.5);   
        text-transform: uppercase;
        color: #be2f1c;
        text-shadow:
            1px 1px 0 #3c3c3c,
            2px 2px 0 #3c3c3c;
        // padding: 0.3rem; // consistent per letter box
        
    }

}

span.nohover {
    // display: inline-block;
    color: whitesmoke;
    pointer-events: none;
    font-size: 1rem;
    // padding: 5px;
}

@media (max-width: 625px) {
    span.hover {
        font-size: 1rem;
        &:hover {
            font-size: 2rem;
        }
    }

    span.nohover {
        font-size: 1.2rem;
    }
}

@media (max-width: 425px) {
    span.hover {
        font-size: 0.7rem;
        &:hover {
            font-size: 1.7rem;
        }
    }

    span.nohover {
        font-size: 1rem;
    }
}