@use '@angular/material' as mat;
@use 'primeicons/primeicons.css';
@use "tailwindcss";

html {
  scroll-behavior: smooth;
  
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}body {
  margin: 0;
  padding: 0;
  background-color: #222831 !important; // or your brand color
  color: #000 !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
