.profile-3d {
  perspective: 1000px;

  & .profile-pic-container {
    position: relative;
    margin: 2rem 0;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;

    & .font {
      position: absolute;
      inset: 0;
      backface-visibility: hidden;
      height: 100%;
      display: grid;
    }

    & .back {
      transform: rotateY(180deg);
      position: absolute;
      inset: 0;
      backface-visibility: hidden;
      height: 100%;
      display: grid;
    }
  }
}


.profile-pic-container.back-spin-active {
  animation: flippityFlipb 2s cubic-bezier(0.1, 0.6, 0.4, 1) forwards;
}

.profile-pic-container.front-spin-active {
  animation: flippityFlipf 2s cubic-bezier(0.1, 0.6, 0.4, 1) forwards;
}

.profile-pic-container.preserve-front {
  transform: rotateY(180deg);
}

.profile-pic-container.preserve-back {
  transform: rotateY(0deg);
}

@keyframes flippityFlipb {
  from { transform: rotateY(0deg); }
  to   { transform: rotateY(900deg); }
}

@keyframes flippityFlipf {
  from { transform: rotateY(180deg); }
  to   { transform: rotateY(1080deg); }
}



.greeting {
  color: #f4ea7c;
  animation: neon 2s ease-in-out infinite alternate;
  font-size: 35px !important;
  font-weight: 800;
  display: inline-block;
  text-align: center;
}

@keyframes neon {
  from {
    text-shadow: 0 0px 10px #d6cd6d;
  } to {
    text-shadow: 0 0px 3px #d6cd6d;
  }
}

.intro {
  color:rgb(160, 168, 177);
  text-shadow: none !important;
  font-family: "Brush Script MT", cursive;
}

.name {
  font-family: "Snell Roundhand", cursive !important;
  font-size: 50px !important;
}

.greeting .cursor {
  display: inline-block;
  position: relative;
  color: #f4ea7c;
  font-weight: 500;
  margin-left: 0rem !important;
  text-shadow: 0 0px 10px #d6cd6d;
}

.profile-pic {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid dark;
  box-shadow: 0 0 20px #B8CFCE;
}

.Paragraphs span {
  font-size: 1.2rem;
  display: block;
}

.about {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  margin-bottom: 0.75rem;
  margin-left: 2rem;
}

.interests {
  font-family: "Impact", fantasy;
  font-size: 24px !important;
  font-weight: 600;
  background: linear-gradient(90deg, #6a11cb 0%, #2575fc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.interests .cursor {
  display: inline-block;
  font-size: 28px !important;
  background: #2575fc;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: blink 1s ease-in-out infinite;
  margin-left: 0rem !important;
}

.Home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  padding: 2rem 3rem;
  flex-wrap: nowrap; 
  min-height: 100vh;
}

.links {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 1rem;
  padding-bottom: 0;
  justify-content: center;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    background-color:#bceafb;
    box-shadow: 0 10px 25px rgba(45, 42, 42, 0.1);
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 20px;
    transition: .5s;

    svg, img {
      width: 20px;
      height: 20px;
      position: absolute;
      transition: .5s;
    }

    span {
      margin: 0rem 0 0 0;
      font-size: 0.9rem;
      font-weight: 200;
      color: black;
      position: relative;
      font-size: 1rem;
      opacity: 0;
      transition: opacity .3s ease;
      letter-spacing: 2px;
    }

    &:hover {

      & span {
        opacity: 1;
        color: aliceblue;
      }

      & svg, & img {
        opacity: 0;
      }

      width: 100px;
      background: linear-gradient(to right, #2c3e50, #4ca1af);

    }
  }
}

.inters {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1215px) {
  .Home  {
    gap: 5rem;
  }
}


@media (max-width: 800px) { 

  .about {
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 20px;
    margin-left: 0px;
    position: relative;
  }

  .pfp-contain {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profile-3d {
    display: flex;
    height: 200px;
    width: 200px;
    margin-top: 50px;
    margin-bottom: 50px;

    & .profile-pic {
      height: 100%;
      width: 100%;
    }

    & .profile-pic-container {
      height: 100%;
      width: 100%;
    }
  }

  span {
    font-size: medium;
  }

  .links { 
    justify-content: center;
  }

  .Paragraphs span {
    margin-left: 0rem;
  }

  .Home {
    flex-direction: column; 
    align-items: center;    
    justify-content: center; 
    gap: 2rem;               
    flex-wrap: wrap;
    justify-items: column;
  }

  .greeting {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0rem !important;
  }


}

.mailDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  height: 50px;

  & svg {
    stroke: #F2F2F2;
    opacity: 0.8;
    margin-left: 10px;
  }

  & .mailto {
    position: relative;
    display: inline-flex;
    cursor: pointer;
    outline: none;
    border: 0;
    text-decoration: none;
    font-size: 0.9rem;
    color: #f0f9ff;
    font-weight: 700;
    text-transform: uppercase;
    font-family: inherit;

    padding: 1em 2em;
    border: 2px solid #3b82f6;
    border-radius: 1em;
    background: #60a5fa;
    transform-style: preserve-3d;
    transition: all 175ms cubic-bezier(0, 0, 1, 1);

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #2563eb;
      border-radius: inherit;
      box-shadow: 0 0 0 2px #1e40af, 0 0.8em 0 0 #1e40af;
      transform: translate3d(0, 0.8em, -1em);
      transition: all 175ms cubic-bezier(0, 0, 1, 1);
    }

    &:hover {
      background: #3d7bd9;
      transform: translate(0, 0.375em);

      &::before {
        box-shadow: 0 0 0 2px #213D5C, 0 0.6em 0 0 #1F3A59;
        transform: translate3d(0, 0.6em, -1em);
      }
    }

    &:active {
      transform: translate(0em, 0.75em);

      &::before {
        transform: translate3d(0, 0, -1em);
        box-shadow: 0 0 0 2px #1B3551, 0 0.25em 0 0 #1E3B58;
      }
    }
  }
}

@media (max-width: 500px) { 

  .Home {
    gap: 10px;
  }

  .intro {
    font-size: 15px !important;
  }

  .name {
    font-size: 20px !important;
  }

  .greeting {
    font-size: 25px !important;

    & .cursor {
      font-size: 35px !important;
    }
  }

  .interests {
    font-size: 15px !important;

    & .cursor {
      font-size: 20px !important;
    }
  }


}

@keyframes blink {
  0% {
    opacity: 0.99953;
  }
  10% {
    opacity: 0.97867 ;
  }
  20% {
    opacity: 0.88387;
  }
  30% {
    opacity: 0.82556;
  } 
  40% {
    opacity: 0.75684;
  }
  50% {
    opacity: 0.62995;
  }
  60% {
    opacity: 0.51234;
  } 
  70% {
    opacity: 0.45624;
  }
  80% {
    opacity: 0.23134;
  } 
  90% {
    opacity: 0.12380;
  }
  95% {
    opacity: 0.00342;
  }
  100% {
    opacity: 0;
  }
}
