.profile-pic-container {
  margin: 2rem 0;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


.greeting {
  font-size: 26px !important;
  font-weight: 800;
  display: inline-block;
}

.greeting .cursor {
  display: inline-block;
  color: black;
  font-weight: 400;
  animation: blink 1s step-end infinite;
  font-size: 45px !important;
  font-weight: 200;
  margin-left: 0rem !important;
}

.profile-pic {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid dark;
  box-shadow: 0 0 20px rgba(47, 47, 47, 0.7);
}

.Paragraphs span {
  font-size: 1.2rem;
  display: block;
  margin-bottom: 0.75rem;
  margin-left: 2rem;
}

.about {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.interests {
    font-family: "Times New Roman", Times, serif;
    color: rgb(166, 55, 55);
    font-size: 24px !important;
    font-weight: 600;
    display: inline-block;
}

.interests .cursor {
    display: inline-block;
    font-size: 30px !important;
    animation: blink 1s step-end infinite;
    margin-left: 0rem !important;
}

.Home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 2rem 3rem;
  flex-wrap: nowrap; 
}

.links {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-top: 1rem;
  padding-bottom: 0;
  margin-left: 2rem;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;

    svg, img {
      width: 20px;
      height: 20px;
    }

    span {
      margin: 0rem 0 0 0;
      font-size: 0.9rem;
      font-weight: 500;
      color: black;
      padding-left: 5px;
      position: relative;
      font-size: 1rem;
      padding-left: 0.5rem;
    }


    &:hover span {
      text-decoration:underline;
      text-underline-offset: 4px;
    }
  }
}

.inters {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 800px) { 

    .profile-pic { 
        width: 175px;
        height: 175px;
    }

    .profile-pic-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    span {
        font-size: medium;
    }

    .links { 
        justify-content: center;
    }

    .Home {
        display: inline;
        flex-wrap: wrap;
        justify-items: column;
    }

}

@keyframes blink {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}